* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #fff;
    color: #333;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #6BE585;
}

.logo span {
    color: #4bc0c8;
}

nav a {
    margin-left: 30px;
    text-decoration: none;
    color: #888;
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    padding: 60px;
}

.hero-text {
    background: #f1f1f1;
    padding: 30px;
    border-radius: 20px;
    width: 300px;
}

.hero-text h2 {
    color: orange;
    margin: 10px 0;
}

.hero-text button {
    background: #4a90e2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.hero-image img {
    width: 500px;
    border-radius: 30px;
    margin-left: 40px;
}

/* DESTINATIONS */
.destinations {
    text-align: center;
    padding: 60px;
}

.destinations h2 {
    color: orange;
    margin-bottom: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.grid img {
    width: 100%;
    border-radius: 20px;
}

/* STORY */
.story {
    display: flex;
    padding: 60px;
    align-items: center;
}

.story-images img {
    width: 160px;
    border-radius: 50%;
    display: block;
    margin-bottom: 20px;
}

.story-content {
    margin-left: 60px;
    max-width: 500px;
}

.story-content h2 {
    color: orange;
    margin-bottom: 20px;
}

/* FORM */
.contact-form {
    background: #4fe0d8;
    padding: 30px;
    border-radius: 20px;
    margin-top: 30px;
}

.contact-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
}

.contact-form button {
    background: orange;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}
